{{!
    @template theme_boost_training/nav-drawer

    Example context (json): {}
}}
<div id="nav-drawer" data-region="drawer"
     class="hidden-print moodle-has-zindex {{^navdraweropen}}closed{{/navdraweropen}}"
     aria-hidden="{{#navdraweropen}}false{{/navdraweropen}}{{^navdraweropen}}true{{/navdraweropen}}" tabindex="-1">
    {{> theme_indivisa/flat_navigation }}
    <div class="container">
        <h4>Ayuda</h4>
        <h4>Soporte</h4>
    </div>
    <div id="iconos-footer">
        <div class="container">
            <p>"iconos"</p>
           {{! <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>}}
        </div>
    </div>
</div>
