{{!
    @template theme_boost_training/nav-drawer

    Example context (json): {}
}}
<div id="nav-drawer" data-region="drawer"
     class="hidden-print moodle-has-zindex {{^navdraweropen}}closed{{/navdraweropen}}"
     aria-hidden="{{#navdraweropen}}false{{/navdraweropen}}{{^navdraweropen}}true{{/navdraweropen}}" tabindex="-1">
    {{> theme_indivisa/flat_navigation }}
    <div class="container">
        <h4 class="text-san14">Ayuda</h4>
        <h4 class="text-san14">Soporte</h4>
    </div>
    <div id="iconos-footer">
        <div class="container">
            <a target="_blank" href="#">
                <span class="icones"><i class="footer-icon facebook"></i></span>
            </a>
            <a target="_blank" href="#">
                <span class="icones"><i class="footer-icon twitter"></i></span>
            </a>
            <a target="_blank" href="#">
                <span class="icones"><i class="footer-icon instagram"></i></span>
            </a> 
            <a target="_blank" href="#">
                <span class="icones"><i class="footer-icon whatsapp"></i></span>
            </a> 
        </div>
    </div>
</div>
